form(action='/books/create' method='POST')
  lable Title
  br
  input(type='text' name='title' value='')
  br
  lable Decription
  br
  input(type='text' name='decription' value='')
  br
  br
  button Create