form(action='/books/:id/update' method='POST')
  lable 
    b ID
  br
  input(type='text' name='id' value=books.id)
  br
  lable 
    b Title
  br
  input(type='text' name='title' value=books.title)
  br
  lable 
    b Decription
  br
  input(type='text' name='decription' value=books.decription)
  br
  br
  button Save
  
