html
    head
        link(rel="icon" type="image/png" sizes="16x16" href="/image/favicon.ico")
        link(rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') Coder-Tokyo
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='#') Trang Chủ
                    li.nav-item
                        a.nav-link(href='/products') Product
                    li.nav-item
                        a.nav-link(href='/users') Users
                    li.nav-item
                        a.nav-link(href='/books') Book
                    li.nav-item
                        a.nav-link(href='#') Contact
            if user
                img.rounded-circle.mr-2(src=user.avatar,width='20px',height='20px')
                span= user.name
        .container
            block content
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')