extends ../common.pug

block content
  img(src="/image/favicon.ico" style="width:64px;height:64px")
  form(action='/users' method='GET')
    lable Name
    br
    input(type='text' name='name' value=keyword)
    br
    br
    button Search
  a(href='users/create')
      button New
  ul
      each user in users
          li= user.name
            span &nbsp
            a(href='/users/'+user.id) View
            span &nbsp
            a(href='/users/'+user.id+'/update') Update
            span &nbsp
            a(href='/users/'+user.id+'/delete') Xoa  