extends ../common.pug

block content
  form.form-inline(action='/users' method='GET')
    input.form-control.mr-sm-2(type='text', name='q', placeholder='Search',value=keyword)
    button.btn.btn-primary.my-2.my-sm-0(type='submit') Search
    a.btn.btn-primary.ml-2(href='/users/  create' type='button') New


  table.table
    th Avatar
    th Name 
    th Phone Number
    th Action
      each user in users
          tr
            td
              img(src=user.avatar,width='64px')
            td= user.name
            td= user.phone
            td
              a.mr-2(href='/users/'+user.id) View
              span 
              a.mr-2(href='/users/'+user.id+'/update') Update
              span
              a.mr-2(href='/users/'+user.id+'/delete') Xoa  
               span
              a.mr-2(href='/users/'+user.id+'/mail') Contact  