extends ../common.pug

block content
  form(action='/users/:id/pUpdate' method='POST')
    .form-group
      label(for='id') 
        b ID
      input#id.form-control.col-5(type='text', name='id',value=users.id)
    .form-group
      label(for='name')
        b Name
      input#name.form-control.col-5(type='text', name='name',value=users.name)
    .form-group
      label.b(for='mail')
        b Mail
      input#mail.form-control.col-5(type='text', name='mail',value=users.mail)
    .form-group
      label.b(for='phone') 
        b Phone Number
      input#phone.form-control.col-5(type='text',name='phone',value=users.phone)
    button.btn.btn-primary(type='submit') Submit

