extends ../common.pug

block content
  form(action='/users/:id/update' method='POST')
    lable ID
    br
    input( type='text' name='id' value=users.id)
    br
    lable Name
    br
    input(type='text' name='name' value=users.name)
    br
    br
    button Save
