form(action='/users/:id/update' method='POST')
  lable ID
  br
  input(id='idd' type='text' name='id' value='')
  br
  lable Name
  br
  input(type='text' name='name' value='')
  br
  br
  button Save
  script document.querySelector("input").setAttribute("value",`#{id}`);
